@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
  margin: 0;
  border: 0;
  margin: none;
  box-sizing: border-box;
  font-family: 'Press Start 2p', arial;
}

.form {
  border: 2px solid black;
  padding: 0;
  border: 0;
  text-align: center;
}

body {
  background-image: url("../img/fundo.jpg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  overflow-y: hidden;
}

.boxInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 10px;
}

.brain {
  max-width: 23vh;
  margin-bottom: -10px;
}

h1 {
  display: flex;
  text-align: center;
  color: white;
}

.m1 {
  font-size: max(27px, 2.5vw);
  color: #f2536f;
}

span {
  margin-left: 1vw;
}

.m3 {
  font-size: max(60px, 5.65vw);
  margin-bottom: 20px;

}

.name {
  width: max(50px 20vw);
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 2rem;
  text-align: center;
}

input:focus {
  outline: none;
  border: 3px solid #f2536f;
}

::-webkit-input-placeholder {
  font-size: min(12px, 2vh);
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.198);
}

.btnstart {
  max-width: 20vh;
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  background-color: #EA6363;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.btnstart:hover {
  color: #EA6363;
  background-color: #ffffff;
}


.btnstart:disabled {
  color: #ffffff;
  background-color: #7d7d7d;
  cursor: default
}